{% extends "logged_in_base.html" %}
{% block title %}Quizz Management: Create New{% endblock %}
{% block content %}
    <div class="WrapperArea">
        <div class="WrapperBox">
            <div class="TitleBox">
                <h4>Add Quiz </h4>
                <div class="BackPage">
                    <a href="{% url 'adminpanel:quizzes:list-quizzes' %}"><i class="fa fa-long-arrow-left" aria-hidden="true"></i>Back</a>
                </div>
            </div>
            {% include "messages.html" %}

            <div class="CommonTabs ">
                <div class="tab-content">
                    <div class="tab-pane active" id="Ongoing">
                        <div class="InnerBox">
                            <form action="{% url 'adminpanel:quizzes:create-quiz' %}" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="text-danger" style="display: block;">
                                    {{ form.non_field_errors }}
                                </div>
                                <div class="CommonForm">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label for="{{ form.name.id_for_label }}">Quiz Name</label>
                                                <span class="text-danger">{{ form.name.errors }}</span>
                                                {{ form.name }}
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <label for="{{ form.start_date.id_for_label }}">Start Date & Time</label>
                                                <div class="DosageBox">
                                                    <div class="row">
                                                        <div class="col-sm-6">
                                                            <div class="form-group">
                                                                <label>Date</label>
                                                                <span class="text-danger">{{ form.start_date.errors }}</span>
                                                                {{ form.start_date }}
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <div class="form-group">
                                                                <label>Time</label>
                                                                <span class="text-danger">{{ form.start_time.errors }}</span>
                                                                {{ form.start_time }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <label for="{{ form.end_date.id_for_label }}">End Date &amp; Time</label>
                                                <div class="DosageBox">
                                                    <div class="row">
                                                        <div class="col-sm-6">
                                                            <div class="form-group">
                                                                <label>Date</label>
                                                                <span class="text-danger">{{ form.end_date.errors }}</span>
                                                                {{ form.end_date }}
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <div class="form-group">
                                                                <label>Time</label>
                                                                <span class="text-danger">{{ form.end_time.errors }}</span>
                                                                {{ form.end_time }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <label>Quiz Active Hours</label>
                                                <div class="DosageBox">
                                                    <div class="row">
                                                        <div class="col-sm-6">
                                                            <div class="form-group">
                                                                <label>Start Time</label>
                                                                <span class="text-danger">{{ form.active_start_time.errors }}</span>
                                                                {{ form.active_start_time }}
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <div class="form-group">
                                                                <label>End Time</label>
                                                                <span class="text-danger">{{ form.active_end_time.errors }}</span>
                                                                {{ form.active_end_time }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <label>Prices</label>
                                                <div class="StoreBanners DosageBox">
                                                    <ul>
                                                        <li>
                                                            <label>First Prize</label>
                                                            <span class="text-danger">{{ form.first_prize_name.errors }}</span>
                                                                {{ form.first_prize_name }}
                                                            <div class="UploadImages">
                                                                <span> <img src="/media/images/camera2.png" alt="Prize Image" /></span>
                                                                <h6>Add images</h6>
                                                                <p>Image Size : 300 x 250 px / Image formats : jpg, png / 5MB Max.</p>
                                                                {{ form.first_prize_image.errors }}
                                                                {{ form.first_prize_image }}
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <label>Second Prize</label>
                                                            {{ form.second_prize_name.errors }}
                                                                {{ form.second_prize_name }}
                                                            <div class="UploadImages">
                                                                <span> <img src="/media/images/camera2.png" alt="Prize Image" /></span>
                                                                <h6>Add images</h6>
                                                                <p>Image Size : 300 x 250 px / Image formats : jpg, png / 5MB Max.</p>
                                                                {{ form.second_prize_image.errors }}
                                                                {{ form.second_prize_image }}
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <label>Third Prize</label>
                                                            {{ form.third_prize_name.errors }}
                                                                {{ form.third_prize_name }}
                                                            <div class="UploadImages">
                                                                <span> <img src="/media/images/camera2.png" alt="Prize Image" /></span>
                                                                <h6>Add images</h6>
                                                                <p>Image Size : 300 x 250 px / Image formats : jpg, png / 5MB Max.</p>
                                                                {{ form.third_prize_image.errors }}
                                                                {{ form.third_prize_image }}
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label>Max. Slots</label>
                                                {{ form.max_slots.errors }}
                                                {{ form.max_slots }}
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label>Quiz Duration</label>
                                                {{ form.quiz_duration.errors }}
                                                {{ form.quiz_duration }}
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <label>Instructions For Winners</label>
                                                {{ form.winner_instructions.errors }}
                                                {{ form.winner_instructions }}
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <label>Rules To Play Quiz</label>
                                                {{ form.rules.errors }}
                                                {{ form.rules }}
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <label>Terms And Conditions</label>
                                                {{ form.terms.errors }}
                                                {{ form.terms }}
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <label>Quiz Question File</label>
                                                <div class="DosageBox">
                                                    <div class="row">
                                                        <div class="col-sm-4">
                                                            <label>Day 1</label>
                                                            <div class="AttachFile">
                                                                <div class="FileMAIN">
                                                                    <span>
                                                                        <i class="fa fa-upload" aria-hidden="true"></i> Upload
                                                                        {{ form.first_question_file.errors }}
                                                                        {{ form.first_question_file }}
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <label>Day 2</label>
                                                            <div class="AttachFile">
                                                                <div class="FileMAIN">
                                                                    <span>
                                                                        <i class="fa fa-upload" aria-hidden="true"></i> Upload
                                                                        {{ form.second_question_file.errors }}
                                                                        {{ form.second_question_file }}
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <label>Day 3</label>
                                                            <div class="AttachFile">
                                                                <div class="FileMAIN">
                                                                    <span>
                                                                        <i class="fa fa-upload" aria-hidden="true"></i> Upload
                                                                        {{ form.third_question_file.errors }}
                                                                        {{ form.third_question_file }}
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="ButtonMain">
                                    <button class="Button" type="submit"> Add Quiz</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block page_js %}
{% endblock page_js %}
