{% extends "logged_in_base.html" %}
{% block title %}Comission Management{% endblock %}
{% block content %}
<div class="WrapperArea">
    <div class="WrapperBox">

        <div class="TitleBox">
            <h4>Commission Management</h4>
           
        </div>
        <div class="InnerBox">
            <div class="Filter">
                <div class="form-group">
                    <label>Search</label>
                    <input type="text" class="form-control" placeholder="Search">
                </div>
                <div class="form-group">
                    <label>From</label>
                    <input type="date" class="form-control">
                </div>
                <div class="form-group">
                    <label>To</label>
                    <input type="date" class="form-control">
                </div>
              
                <div class="form-group">
                    <label>&nbsp;</label>
                    <button>Apply</button>
                   
                </div>
            
            </div>
            <div class="CommissionBox">
              <article>
                <h4>Commission Rate: <span> 2%</span></h4>
                <p><a href="javascript:void(0)" data-toggle="modal" data-target="#AddComission" class="CommissionEdit"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></p>
              </article>

            </div>
            <div class="TableList">
                <table style="width: 120%;">
                    <thead>
                        <tr>
                            <th>S.No</th>
                            <th>Order  Id</th>
                            <th>Customer  Id</th>
                            <th>Customer  Name</th>
                            <th>Date of Purchase</th>
                            <th>Stock Name</th>
                            <th>Purchased Quantity</th>
                            <th>Price Per stock</th>
                            <th>Admin's Commission</th>
                            <th>Total Amount</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>ORD123</td>
                            <td>USR011</td>
                            <td>Simmi</td>
                            <td>22-Oct-2022</td>
                            <td>Stock-1</td>
                            <td>06</td>
                            <td>200 INR</td>
                            <td>200 INR</td>
                            <td>400 INR</td>
                         
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>ORD123</td>
                            <td>USR011</td>
                            <td>Simmi</td>
                            <td>22-Oct-2022</td>
                            <td>Stock-1</td>
                            <td>06</td>
                            <td>200 INR</td>
                            <td>200 INR</td>
                            <td>400 INR</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>ORD123</td>
                            <td>USR011</td>
                            <td>Simmi</td>
                            <td>22-Oct-2022</td>
                            <td>Stock-1</td>
                            <td>06</td>
                            <td>200 INR</td>
                            <td>200 INR</td>
                            <td>400 INR</td>
                        </tr>


                    </tbody>
                </table>
            </div>
            <div class="Pagination">
                <ul>
                    <li><a href="javascript:void(0);"><i class="fa fa-angle-double-left"></i></a></li>
                    <li><a href="javascript:void(0);"><i class="fa fa-angle-left"></i></a></li>
                    <li class="active"><a href="javascript:void(0);">1</a></li>
                    <li><a href="javascript:void(0);">2</a></li>
                    <li><a href="javascript:void(0);">3</a></li>
                    <li><a href="javascript:void(0);"><i class="fa fa-angle-right"></i></a></li>
                    <li><a href="javascript:void(0);"><i class="fa fa-angle-double-right"></i></a></li>
                </ul>
            </div>


        </div>
    </div>
</div>
{% endblock %}