{% extends "logged_in_base.html" %}
{% block title %}Customer Management{% endblock %}
{% block content %}
    <div class="WrapperArea">
        <div class="WrapperBox">
            <div class="TitleBox">
                <h4>Customer Management</h4>
                {% comment %} <div class="AddButton">
                    <a href={% url "adminpanel:customer-add" %} class="Button ">+ Add Customer</a>
                </div> {% endcomment %}
            </div>
            <div class="InnerBox">
                <div class="FlexMain">
                    <div class="Search">
                        <form action={% url "adminpanel:customer-management"%} method="GET">
                            <input type="text"
                                   placeholder="Enter Customer Name/Email/Phone Number"
                                   id="search_value" name="q" style="min-width:400px" {% if q %} value={{q}} {% endif %}>
                            <button id="search">Search</button>
                            <button class="Reset">
                                <i class="fa fa-refresh"></i>
                            </button>
                        </form>
                    </div>
                </div>
                <div class="TableList">
                    <table style="width: 120%;">
                        <thead>
                            <tr>
                                <th>S.No</th>
                                <th>Customer ID</th>
                                <th>Name</th>
                                <th>Contact Number</th>
                                <th>Email Id</th>
                                <th>Pan Number</th>
                                <th>Age</th>
                                <th>Date of Birth</th>
                                <th>Registered on</th>
                                <th>action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for user in user_list %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td class="user_id">CU{{ user.id }}</td>
                                    <td>{{ user.profile.first_name }} {{ user.profile.last_name }}</td>
                                    <td>{{ user.phone_number }}</td>
                                    <td>{{ user.email }}</td>
                                    <td>{{ user.profile.pan_number }}</td>
                                    <td>{{ user.profile.age }}</td>
                                    <td>{{ user.profile.date_of_birth }}</td>
                                    <td>{{ user.created_at }}</td>
                                    <td>
                                        <a class="Blue" href="{% url "adminpanel:customer-detail" user.id %}">
                                            <i class="fa fa-eye"></i>
                                        </a>
                                        <a class="Blue" href="{% url "adminpanel:customer-edit" user.id %}">
                                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                        </a>
                                        <a class="Blue Delete"
                                           href="javascript:void(0)"
                                           data-toggle="modal"
                                           data-target="#Delete">
                                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                                        </a>
                                        <label class="Switch">
                                            <input type="checkbox" {% if user.is_active %} checked{% endif %}>
                                            <span class="slider"></span>
                                        </label>
                                    </td>
                                {% endfor %}
                            </tr>
                        </tbody>
                    </table>
                </div>
                {% if is_paginated %}
                    <div class="Pagination">
                        <ul>
                            <li>
                                <a href="?page=1"><i class="fa fa-angle-double-left"></i></a>
                            </li>
                            {% if page_obj.has_previous %}
                                <li>
                                    <a href="?page={{ page_obj.previous_page_number }}"><i class="fa fa-angle-left"></i></a>
                                </li>
                            {% endif %}
                            {% for n in page_obj.paginator.page_range %}
                                {% if page_obj.number == n %}
                                    <li class="page-item active">
                                        <li class="active">
                                            <a href="javascript:void(0);">{{n}}</a>
                                        </li>
                                    </li>
                                {% elif n > page_obj.number|add:'-3' and n < page_obj.number|add:'3' %}
                                    <li>
                                        <a href="?page={{ n }}">{{ n }}</a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                            {% if page_obj.has_next %}
                                <li>
                                    <a href="?page={{ page_obj.next_page_number }}"><i class="fa fa-angle-right"></i></a>
                                </li>
                            {% endif %}
                            <li>
                                <a href="?page={{ page_obj.paginator.num_pages }}"><i class="fa fa-angle-double-right"></i></a>
                            </li>
                        </ul>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="ModalBox">
        <div id="BlockModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="Decline">
                            <a href="javascript:void(0);" class="CloseModal" data-dismiss="modal">×</a>
                            <h3>
                                Block
                            </h3>
                            <p>
                                Are you sure you want to block this Customer ?
                            </p>
                            <h4>
                                <a href="javascript:void(0);" data-dismiss="modal" id="noBlock">no</a>
                                <a href="javascript:void(0);" data-dismiss="modal" class="yesBoss">Yes</a>
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="UnblockModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="Decline">
                            <a href="javascript:void(0);" class="CloseModal" data-dismiss="modal">×</a>
                            <h3>
                                Unblock
                            </h3>
                            <p>
                                Are you sure you want to Unblock this Customer ?
                            </p>
                            <h4>
                                <a href="javascript:void(0);" data-dismiss="modal" id="noUnBlock">no</a>
                                <a href="javascript:void(0);" data-dismiss="modal" class="yesBoss">Yes</a>
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="Delete"
             class="modal fade in"
             style="display: none;"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="Decline">
                            <a href="javascript:void(0);" class="CloseModal" data-dismiss="modal">×</a>
                            <h3>
                                Delete
                            </h3>
                            <p>
                                Are you sure you want to Delete this Customers ?
                            </p>
                            <h4>
                                <a href="javascript:void(0);" data-dismiss="modal">no</a>
                                <a href="javascript:void(0);" data-dismiss="modal" class="yesBoss">Yes</a>
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        let selected_user_id = null;
        let todo = "";
        let toggler = null;
    </script>
    <script type="text/javascript">
        $('.Switch input[type="checkbox"]').on("change", function (e) {
            toggler = e.target;
            if (e.target.checked == true) {
                todo = "unblock";
                $("#UnblockModal").modal("show");
                updateSelectedUserId(e.target);
            } else {
                todo = "block";
                $("#BlockModal").modal("show");
                updateSelectedUserId(e.target);
            }
        });

        $("#noBlock").on("click",function(e){
            noBlockModal()
        })
        $("#noUnBlock").on("click",function(e){
            noUnBlockModal()
        })

        $(".Delete").on("click", function(e){
            todo = "delete"
            selected_user_id =e.target.closest("tr").querySelector(".user_id").textContent.replace("CU","")
        })

        $(".yesBoss").on("click",function(e){
            modifyUser()
        })
    </script>
    <script>
        function updateSelectedUserId(element){
            selected_user_id = element.closest("tr").querySelector(".user_id").textContent.replace("CU","")
        }
        function modifyUser(){
            let url = "{% url 'adminpanel:customer-management' %}"
            $.ajaxSetup({
                headers: {
                    "X-CSRFToken": '{{csrf_token}}'
                }
            });
            $.ajax({
                url: url,
                method: 'POST',
                data: {
                    "todo": todo,
                    "user_id": selected_user_id 
                }
                /*,
                success: function(resp) {
                    Eggy({
                        title: 'Success!',
                        message: 'Updated Successfully.',
                        type: 'success',
                        duration: 5000
                    })
                },
                error: function(resp) {
                    console.log(resp)
                    Eggy({
                        title: 'Failed!',
                        message: `${resp.responseJSON["message"]}`,
                        type: 'error',
                        duration: 5000
                    })
                }
                */
            });
            if(todo == "delete"){
                setTimeout(reload, 2000);
            }
        }

        function reload() {
            document.location.reload();
          }

        function noBlockModal(){
            toggler.checked = true;
        }

        function noUnBlockModal(){
            toggler.checked = false;
        }
    </script>
{% endblock %}
