<!DOCTYPE html>
<html lang="en-us">
    <head>
        <title>Invest-Thrift</title>
        <meta charset="UTF-8" />
        <meta name="description" content="" />
        <meta name="viewport"
              content="width=device-width, initial-scale=1, maximum-scale=1"/>
        <style type="text/css">
        @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
        @import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
     
        body{ margin: 0; font-family: 'roboto'; font-size: 15px; } 
        *{ box-sizing: border-box;} 
        </style>
    </head>
    <body>
        <table cellspacing="0"
               cellpadding="0"
               border="0"
               style="width: 100%;
                      margin:auto;">
            <tr>
                <td style="background: #F5F5F5; padding: 50px 20px; height: 100vh;">
                    <table cellspacing="0"
                           cellpadding="0"
                           border="0"
                           style="width: 100%; max-width: 700px; margin:0px auto; background-color: #fff; padding: 30px; border-radius: 10px; ">
                        <tr>
                            <td>
                                <table style="width: 100%; border-radius: 10px; overflow: hidden;">
                                    <tr>
                                        <td colspan="2"
                                            style="border-bottom:1px solid #ddd;
                                                   padding:10px 0 15px 0;">
                                            <span style="display: block; width: 150px; margin: auto;">
                                                <img src="https://drive.google.com/uc?id=1prfkUwbyzypzB9kFAbvLXVscNipdGaZ-"
                                                     style="width: 90px;">
                                            </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="padding:20px 0 10px 0">
                                            <h2 style="margin:0">Hello User</h2>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2" style="padding:0px 0 30px 0">
                                            <p style="margin: 0; line-height: 30px;   color: #505050;">
                                                <span>Greetings!</span>
                                            </p>
                                            <p style="margin: 0 0 20px 0; line-height: 30px; color: #505050;">
                                                <span>Greetings!

                                                    We are glad to have you onboard. For a hassle-free and seamless experience please confirm your email address.<br> Happy Investing. 
                                                    </span>
                                            </p>
                                            <a href="{{verification_url}}"
                                               style="border: 1px solid #3ba661;
                                                      padding: 10px 25px;
                                                      border-radius: 30px;
                                                      text-decoration: none;
                                                      color: #fff;
                                                      background: #3ba661;">
                                                <span>Verify Now</span>
                                            </a>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </body>
</html>
