<!DOCTYPE html>
<html lang="en-us">
<head>
    <title>Invest-Thrift</title>
    <meta charset="UTF-8" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />  
    <style type="text/css">
        @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
        @import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
        body{ margin: 0; font-family: 'Roboto'; font-size: 15px; background: #F5F5F5 } 
        *{ box-sizing: border-box;} 
    </style>
</head>
<body>

    <table cellspacing="0" cellpadding="0" border="0" style="width: 100%; margin:auto;">
        <tr>
            <td style="background: #F5F5F5; padding: 90px 20px 0 20px;">

                <table cellspacing="0" cellpadding="0" border="0" style="width: 100%; max-width: 550px; margin:0px auto; background-color: #fff; padding: 30px; border-radius: 10px; ">
                    <tr>
                        <td>
                            <table style="width: 100%; border-radius: 10px; overflow: hidden;">
                                <tr>
                                    <td colspan="2" style=" padding:10px 0 0 0;">
                                        <span style="display: block;display: block;width: 87px;margin: 20px auto;">
                                            <img src="/media/images/failed.png" style="width:100%">   
                                        </span>
                                    </td> 
                                </tr>


                                <tr> 
                                    <td colspan="2" style="padding:0px 0 30px 0 ; text-align: center; font-size: 25px; color: #000;">
                                        <p style="margin:0 0 15px 0; line-height: 30px;">
                                            <span>Failure!</span>
                                        </p>

                                        <p style="margin: 0;  text-align: center;font-size: 15px; color: grey;">
                                            <span>Subscription process failed! please try again.</span>
                                        </p> 
                                     


                                    </td>
                                </tr>   
                                
                            

                            </table>
                        </td>
                    </tr>
                </table>

            </td>
        </tr>
    </table>

</body>
</html>