{% extends "base.html" %}
{% block title %}Forgot Password{% endblock %}
{% block body %}
    <div class="LoginPage">
        <div class="LoginBox">
            <div class="row">
                <div class="col-sm-6 ">
                <div class="loginLeft">
                    <figure>
                        <img src="/media/images/Login2.png">
                    </figure>
                    <p>To keep connected with us please login .</p>
                </div>
                </div>
                <div class="col-sm-6">
                    <div class="RightLogin">
                        <div class="MainRight">
                            <figure>
                                <img src="/media/images/logo2.png">
                            </figure>
                            <h3>Forgot Password </h3>
                        
                            <form action={% url "adminpanel:forgot-password" %} method="POST">
                                {% csrf_token %}

                                <div class="form-group">
                                    <label>Email ID</label>
                                    <input type="text" placeholder="Enter Email ID" class="form-control" name="email" required>
                                    <span class="Icon"><i class="fa fa-envelope"></i></span>
                                </div>
                
                                <button class="Button" type="submit" href="confirmation.html">Send Password Reset Link</button>            
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}