{% extends "logged_in_base.html" %}
{% block title %}Notifications{% endblock %}
{% block content %}
<div class="WrapperArea">
    <div class="WrapperBox">

        <div class="TitleBox">
            <h4>    Notification </h4>
            <!-- <div class="AddButton">
                <a href="stock-bulk-add.html" class="Button ">+ Add Stock List</a>
            </div> -->
        </div>
        <div class="InnerBox">
            <div class="NotificationArea">
                <ul>
                    <li>
                        <figure><img src="/media/images/user5.jpg"></figure>
                        <h4>Anu Pratihar</h4>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
                        <h6>24 Feb '21 , 2:00 PM</h6>
                    </li>
                    <li>
                        <figure><img src="/media/images/user5.jpg"></figure>
                        <h4>Anu Pratihar</h4>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
                        <h6>24 Feb '21 , 2:00 PM</h6>
                    </li>
                    <li>
                        <figure><img src="/media/images/user5.jpg"></figure>
                        <h4>Anu Pratihar</h4>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
                        <h6>24 Feb '21 , 2:00 PM</h6>
                    </li>
                    <li>
                        <figure><img src="/media/images/user5.jpg"></figure>
                        <h4>Anu Pratihar</h4>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
                        <h6>24 Feb '21 , 2:00 PM</h6>
                    </li>
                </ul>
                <!-- <div class="text-center">
                    <a href="javacsript:void(0)" class="LoadingNotification"><img
                            src="images/loading.png">Loading Notifictions</a>
                </div> -->
            </div>


        </div>
    </div>
</div>
{% endblock %}