{% extends "base.html" %}
{% block title %}Confirmation{% endblock %}
{% block body %}
    <div class="LoginPage">
        <div class="LoginBox">
            <div class="row">
                <div class="col-sm-6 ">
                <div class="loginLeft">
                    <figure>
                        <img src="/media/images/Login2.png">
                    </figure>
                    <p>To keep connected wit us please login .</p>
                </div>
                </div>
                <div class="col-sm-6">
                    <div class="RightLogin">
                        <div class="MainRight">
                            <figure>
                                <img src="/media/images/logo2.png">
                            </figure>
                            <h3>A Password reset link has been shared on your email address.</h3>
                                <a class="Button" href="{% url "adminpanel:login" %}">Go Back to Login</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}