{% extends "logged_in_base.html" %}
{% block title %}Static Content Management{% endblock %}
{% block content %}
<div class="WrapperArea">
    <div class="WrapperBox">

        <div class="TitleBox">
            <h4> Static Content Management</h4>
        </div>

        <div class="StaticBoxArea">


            <div id="accordion">
                <div class="card">
                    <div class="card-header">
                        <a class="collapsed card-link" data-toggle="collapse" href="#collapse1">
                            <h4>Contact Us</h4>
                            <span>
                                <i class="fa fa-pencil"></i>
                            </span>
                        </a>
                    </div>
                    <div id="collapse1" class="collapse" data-parent="#accordion">
                        <div class="card-body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.
                                Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales
                                pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur
                                ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci,
                                sed rhoncus pronin sapien nunc accuan eget.</p>

                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.
                                Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales
                                pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur
                                ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci,
                                sed rhoncus pronin sapien nunc accuan eget.</p>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">
                        <a class="collapsed card-link" data-toggle="collapse" href="#collapse2">
                            <h4>About Us</h4>
                            <span>
                                <i class="fa fa-pencil"></i>
                            </span>
                        </a>
                    </div>
                    <div id="collapse2" class="collapse" data-parent="#accordion">
                        <div class="card-body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.
                                Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales
                                pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur
                                ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci,
                                sed rhoncus pronin sapien nunc accuan eget.</p>

                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.
                                Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales
                                pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur
                                ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci,
                                sed rhoncus pronin sapien nunc accuan eget.</p>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">
                        <a class="collapsed card-link" data-toggle="collapse" href="#collapse3">
                            <h4>Terms &amp; Conditions</h4>
                            <span>
                                <i class="fa fa-pencil"></i>
                            </span>
                        </a>
                    </div>
                    <div id="collapse3" class="collapse" data-parent="#accordion">
                        <div class="card-body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.
                                Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales
                                pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur
                                ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci,
                                sed rhoncus pronin sapien nunc accuan eget.</p>

                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.
                                Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales
                                pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur
                                ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci,
                                sed rhoncus pronin sapien nunc accuan eget.</p>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">
                        <a class="collapsed card-link" data-toggle="collapse" href="#collapse4">
                            <h4>Privacy &amp; Policies</h4>
                            <span>
                                <i class="fa fa-pencil"></i>
                            </span>
                        </a>
                    </div>
                    <div id="collapse4" class="collapse" data-parent="#accordion">
                        <div class="card-body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.
                                Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales
                                pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur
                                ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci,
                                sed rhoncus pronin sapien nunc accuan eget.</p>

                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.
                                Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales
                                pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur
                                ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci,
                                sed rhoncus pronin sapien nunc accuan eget.</p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <a class="collapsed card-link" data-toggle="collapse" href="#collapse5">
                            <h4>FAQs</h4>
                            <span>
                                <i class="fa fa-pencil"></i>
                            </span>
                        </a>
                    </div>
                    <div id="collapse5" class="collapse" data-parent="#accordion">
                        <div class="card-body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.
                                Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales
                                pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur
                                ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci,
                                sed rhoncus pronin sapien nunc accuan eget.</p>

                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.
                                Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales
                                pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur
                                ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci,
                                sed rhoncus pronin sapien nunc accuan eget.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="Save">
                <button class="Button">Save</button>
            </div>


        </div>
    </div>
</div>
{% endblock %}