{% extends "logged_in_base.html" %}
{% block title %}Static Content Management{% endblock %}
{% block content %}
<div class="WrapperArea">
    <div class="WrapperBox">
        <div class="TitleBox">
            <h4>Static Content Management</h4>
        </div>
        <div class="StaticBoxArea">
            <div id="accordion">
                <div class="card">
                    <div class="card-header">
                        <a class="collapsed card-link" data-toggle="collapse" href="#collapse1">
                            <h4>Contact Us</h4>
                            <span>
                                <i class="fa fa-pencil"></i>
                            </span>
                        </a>
                    </div>
                    <div id="collapse1" class="collapse" data-parent="#accordion">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Email Address</label>
                                        <input type="text" id="contact_email" class="form-control"
                                            placeholder="Enter Email Address"
                                            value="{{ static_content.contact_data.company_email }}">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Website</label>
                                        <input type="text" id="contact_website" class="form-control"
                                            placeholder="Enter Website"
                                            value="{{ static_content.contact_data.website }}" required>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Mobile Number</label>
                                        <input type="text" id="contact_number" class="form-control"
                                            placeholder="Enter Mobile Number"
                                            value="{{ static_content.contact_data.company_number }}">
                                    </div>
                                </div>
                                <div class="col-sm-6" style="min-width:stretch">
                                    <div class="form-group">
                                        <label>Address</label>
                                        <input type="text" id="contact_address" class="form-control"
                                            placeholder="Enter Address"
                                            value="{{ static_content.contact_data.company_address }}">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <a class="collapsed card-link" data-toggle="collapse" href="#collapse2">
                            <h4>About Us</h4>
                            <span>
                                <i class="fa fa-pencil"></i>
                            </span>
                        </a>
                    </div>
                    <div id="collapse2" class="collapse" data-parent="#accordion">
                        <div class="card-body">
                            <textarea rows="10" class="form-control" id="about_us"
                                spellcheck="false">{{static_content.about_us}}</textarea>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <a class="collapsed card-link" data-toggle="collapse" href="#collapse3">
                            <h4>Terms &amp; Conditions</h4>
                            <span>
                                <i class="fa fa-pencil"></i>
                            </span>
                        </a>
                    </div>
                    <div id="collapse3" class="collapse" data-parent="#accordion">
                        <div class="card-body">
                            <textarea rows="10" class="form-control" id="terms_and_conditions"
                                spellcheck="false">{{static_content.terms_and_conditions}}</textarea>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <a class="collapsed card-link" data-toggle="collapse" href="#collapse4">
                            <h4>Privacy &amp; Policies</h4>
                            <span>
                                <i class="fa fa-pencil"></i>
                            </span>
                        </a>
                    </div>
                    <div id="collapse4" class="collapse" data-parent="#accordion">
                        <div class="card-body">
                            <textarea rows="10" class="form-control" id="privacy_policy"
                                spellcheck="false">{{static_content.privacy_policy}}</textarea>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <a class="collapsed card-link" data-toggle="collapse" href="#collapse5">
                            <h4>FAQs</h4>
                            <span>
                                <i class="fa fa-pencil"></i>
                            </span>
                        </a>
                    </div>
                    <div id="collapse5" class="collapse" data-parent="#accordion">
                        <div class="card-body">
                            <ul>
                                <div id="faq_container">
                                    {% for faq in faqs %}
                                    <li style="margin-bottom: 10px">
                                        <h6 class="faq_question" style="display:flex;
                                                           justify-content: space-between;">
                                            {{ faq.question }}<span>
                                                <i class="fa fa-trash delete-FAQ" style="cursor: pointer;"></i>
                                            </span>
                                        </h6>
                                        <p class="faq_answer">{{ faq.answer }}</p>
                                    </li>
                                    {% endfor %}
                                </div>
                                <hr>
                                <div>
                                    <div class="form-group">
                                        <label>Question</label>
                                        <input type="text" class="form-control" id="question"
                                            placeholder="Enter Question Here">
                                    </div>
                                </div>
                                <label>Answer</label>
                                <textarea rows="5" class="form-control" id="answer" spellcheck="false"></textarea>
                                <div class="Save" style="text-align:right">
                                    <button class="Button" style="padding:5px 20px" id="add_faq">Add FAQ</button>
                                </div>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="Save">
                <button class="Button" type="button" id="save_static_data">Save</button>
            </div>
            {% include "fragments/messages.html" %}
        </div>
    </div>
    <div class="ModalBox">
        <div id="SaveModal" class="modal fade in show" aria-modal="true" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="Decline">
                            <a href="javascript:void(0);" class="CloseModal" data-dismiss="modal">×</a>
                            <h3>
                                Save
                            </h3>
                            <p>
                                Are you sure you want to Save?
                            </p>
                            <h4>
                                <a href="javascript:void(0);" data-dismiss="modal">no</a>
                                <a href="javascript:void(0);" data-dismiss="modal" class="yesBoss"
                                    id="final-save">Yes</a>
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>

        $("#add_faq").on("click", function (e) {
            addFAQ()
        })

        $(".delete-FAQ").on("click", function (e) {
            e.target.closest("li").remove()
        })

        $("#save_static_data").on("click", function (e) {
            $('#SaveModal').modal('toggle');
        })

        $("#final-save").on("click", function (e) {
            saveStaticData()
        })

        function createFAQElement(question, answer) {
            let element = `<li style="margin-bottom: 10px"><h6 class="faq_question" style="display:flex; justify-content: space-between;">${question}<span><i class="fa fa-trash delete-FAQ" style="cursor: pointer;"></i></span></h6><p class ="faq_answer">${answer}</p></li>`
            return element;
        }

        function addFAQ() {
            let question = document.querySelector("#question").value
            let answer = document.querySelector("#answer").value

            if (question && answer) {
                let faq_container = $("#faq_container")
                let faq = createFAQElement(question, answer)
                faq_container.append(faq)

                $(".delete-FAQ").on("click", function (e) {
                    e.target.closest("li").remove()
                })

                document.querySelector("#question").value = ""
                document.querySelector("#answer").value = ""
            }
        }
    </script>
    <script>
        function getContactData() {
            contact_email = document.querySelector("#contact_email").value
            contact_number = document.querySelector("#contact_number").value
            contact_address = document.querySelector("#contact_address").value
            contact_website = document.querySelector('#contact_website').value
            return JSON.stringify({ "contact_email": contact_email, "contact_number": contact_number, "contact_address": contact_address, "contact_website": contact_website })
        }

        function getFAQDATA() {
            let lis = document.querySelector("#faq_container").querySelectorAll("li")
            let faqs = []
            for (i = 0; i < lis.length; i++) {
                let question = lis[i].querySelector(".faq_question").textContent.trim()
                let answer = lis[i].querySelector(".faq_answer").textContent.trim()
                faqs.push({ "question": question, "answer": answer })
            }
            return JSON.stringify(faqs)
        }

        function prepareData() {
            contact_data = getContactData()
            about_us = document.querySelector("#about_us").value.trim()
            terms_and_conditions = document.querySelector("#terms_and_conditions").value.trim()
            privacy_policy = document.querySelector("#privacy_policy").value.trim()
            faqs = getFAQDATA()
            return { "contact_data": contact_data, "about_us": about_us, "terms_and_conditions": terms_and_conditions, "privacy_policy": privacy_policy, "faqs": faqs }
        }
    </script>
    <script>
        function saveStaticData() {
            let url = "{% url 'adminpanel:static-content-management' %}"
            let data = prepareData()
            console.log(data)
            $.ajaxSetup({
                headers: {
                    "X-CSRFToken": '{{csrf_token}}'
                }
            });
            $.ajax({
                url: url,
                method: 'POST',
                data: data
                /*,
                success: function(resp) {
                    Eggy({
                        title: 'Success!',
                        message: 'Updated Successfully.',
                        type: 'success',
                        duration: 5000
                    })
                },
                error: function(resp) {
                    console.log(resp)
                    Eggy({
                        title: 'Failed!',
                        message: `${resp.responseJSON["message"]}`,
                        type: 'error',
                        duration: 5000
                    })
                }
                */
            });
            setTimeout(reload, 2000);
        }

        function reload() {
            document.location.reload();
        }
    </script>
    {% endblock %}