{% extends "logged_in_base.html" %}
{% block title %}Stock Upload{% endblock %}
{% block content %}
    <div class="WrapperArea">
        <div class="WrapperBox">
            <div class="TitleBox">
                <h4>Upload Stock List</h4>
                <div class="BackPage">
                    <a href="{% url "adminpanel:stock-management" %}"><i class="fa fa-long-arrow-left" aria-hidden="true"></i>Back</a>
                </div>
            </div>
            <div class="InnerBox">
                <div class="row formMargin">
                    <div class="col-sm-7">
                        <div class="Download">
                            <h3>Download Excel</h3>
                            <p>Download excel template file to insert bulk Stock List:</p>
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <div class="Download">
                            <a href={% url "adminpanel:stock-upload-template" %} class="Button"><i class="fa fa-download" aria-hidden="true"></i> Download  </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="InnerBox">
                <form action= {% url "adminpanel:stock-upload" %} method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row formMargin">
                        <div class="col-sm-7">
                            <div class="Download">
                                <h3>Upload Excel</h3>
                                <p>Upload filled excel template file to upload bulk Stock List:</p>
                            </div>
                        </div>
                        <div class="col-sm-5">
                            <div class="form-group">
                                <div class="AttachFile">
                                    <div class="FileMAIN">
                                        <span>
                                            <i class="fa fa-upload" aria-hidden="true"></i> Upload
                                            <input type="file" name="stock_file">
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="Save ">
                    <button class="Button">Submit</button>
                </div>
            </form>
            {% include "fragments/messages.html" %}
        </div>
    </div>
{% endblock %}
