{% extends "logged_in_base.html" %}
{% block title %}Subscription Management{% endblock %}
{% block content %}
<div class="WrapperArea">
    <div class="WrapperBox">
        <div class="TitleBox">
            <h4>Subscription Management</h4>
        </div>
        <div class="InnerBox">
            <div class="Filter">
                <div class="form-group">
                    <label>Search</label>
                    <input type="text" class="form-control" placeholder="Search">
                </div>
                <div class="form-group">
                    <label>From</label>
                    <input type="date" class="form-control">
                </div>
                <div class="form-group">
                    <label>To</label>
                    <input type="date" class="form-control">
                </div>
                <div class="form-group">
                    <label>&nbsp;</label>
                    <button>Apply</button>                       
                </div>
            </div>
            <!-- <div class="CommissionBox">
              <article>
                <h4>Commission Rate: <span> 2%</span></h4>
                <p><a href="javascript:void(0)" data-toggle="modal" data-target="#AddComission" class="CommissionEdit"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></p>
              </article>
            </div> -->
            <div class="TableList">
                <table style="width: 170%;">
                    <thead>
                        <tr>
                            <th>S.No</th>
                            <th>Subscription Id</th>
                            <th>Customer  Id</th>
                            <th>Customer  Name</th>
                            <th>Mobile number &amp; email</th>
                            <th>Subscription Date</th>
                            <th>Valid Till</th>
                            <th>Amount</th>
                            <th>Applicable taxes</th>
                            <th>Total Amount</th>
                            <th>Mode of payment</th>
                            <th>Payment status</th>
                            <th>    Action</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>ORD123</td>
                            <td>USR011</td>
                            <td>Simmi</td>
                            <td>anu@gmail.com</td>
                            <td>22-Oct-2022</td>
                            <td>22-Oct-2022</td>
                            <td>200 INR</td>
                            <td>Stock-1</td>
                            <td>200 INR</td>
                            <td>Online</td>
                            <td>Complete</td>
                            <td>
                                <label class="Switch">
                                    <input type="checkbox">
                                    <span class="slider"></span>
                                </label>
                            </td>
                         
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>ORD123</td>
                            <td>USR011</td>
                            <td>Simmi</td>
                            <td>anu@gmail.com</td>
                            <td>22-Oct-2022</td>
                            <td>22-Oct-2022</td>
                            <td>200 INR</td>
                            <td>Stock-1</td>
                            <td>200 INR</td>
                            <td>Online</td>
                            <td>Complete</td>
                            <td>
                                <label class="Switch">
                                    <input type="checkbox">
                                    <span class="slider"></span>
                                </label>
                            </td>
                         
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>ORD123</td>
                            <td>USR011</td>
                            <td>Simmi</td>
                            <td>anu@gmail.com</td>
                            <td>22-Oct-2022</td>
                            <td>22-Oct-2022</td>
                            <td>200 INR</td>
                            <td>Stock-1</td>
                            <td>200 INR</td>
                            <td>Online</td>
                            <td>Complete</td>
                            <td>
                                <label class="Switch">
                                    <input type="checkbox">
                                    <span class="slider"></span>
                                </label>
                            </td>
                         
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="Pagination">
                <p> Show
                    <select>
                        <option>5</option>
                        <option>10</option>
                        <option>20</option>
                        <option>30</option>
                        <option>40</option>
                        <option>50</option>
                    </select>
                    Entries
                </p>
                <ul>
                    <li><a href="javascript:void(0);"><i class="fa fa-angle-double-left"></i></a></li>
                    <li><a href="javascript:void(0);"><i class="fa fa-angle-left"></i></a></li>
                    <li class="active"><a href="javascript:void(0);">1</a></li>
                    <li><a href="javascript:void(0);">2</a></li>
                    <li><a href="javascript:void(0);">3</a></li>
                    <li><a href="javascript:void(0);"><i class="fa fa-angle-right"></i></a></li>
                    <li><a href="javascript:void(0);"><i class="fa fa-angle-double-right"></i></a></li>
                </ul>
            </div>    
        </div>
    </div>
</div>
{% endblock %}